@media (min-width: 768px) {
  header {
    justify-content: flex-start;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    background: none;
  }

  nav a {
    border: none;
    padding: 0.5rem 1rem;
  }

  main {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
  }

  .button-group {
    justify-content: center;
  }

  #coursesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
